<div layout="column" ng-cloak ng-init="vm.$onInit()">
    <md-content>
        <form name="projectForm" style="min-width:500px;" class="form"
              ng-submit="projectForm.$valid && vm.submit()" novalidate>
            <md-toolbar class="md-default">
                <div class="md-toolbar-tools">
                    <h2>{{vm.title}}</h2>
                    <span flex></span>
                    <md-button class="md-icon-button md-primary" ng-click="vm.cancel()">
                        <md-icon  aria-label="Close dialog">
                            <i class="iconfont icon-delete2"></i>
                        </md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <div layout="row" layout-wrap>
                <div flex="30" class="label-text">
                    <label>域名</label>
                </div>
                <div flex="66">
                    <md-input-container class="md-block">
                        <input required name="domain"  aria-label="domain" ng-model="vm.domain.domain">
                        <div ng-messages="projectForm.domain.$error">
                            <div ng-message="required">必填</div>
                        </div>
                    </md-input-container>
                </div>
            </div>

            <div layout="row" layout-wrap>
                <div flex="30" class="label-text">
                    <label>客户名</label>
                </div>
                <div flex="66">
                    <md-input-container class="md-block">
                        <input required  name="name" aria-label="name" ng-model="vm.domain.name">
                        <div ng-messages="projectForm.name.$error">
                            <div ng-message="required">必填</div>
                        </div>
                    </md-input-container>
                </div>
            </div>

            <div layout="row" layout-wrap>
                <div flex="30" class="label-text">
                    <label>客户公司</label>
                </div>
                <div flex="66">
                    <md-input-container class="md-block">
                        <input required name="company" aria-label="company" ng-model="vm.domain.company">
                        <div ng-messages="projectForm.company.$error">
                            <div ng-message="required">必填</div>
                        </div>
                    </md-input-container>
                </div>
            </div>


            <div layout="row" layout-wrap>
                <div flex="30" class="label-text">
                    <label>协议</label>
                </div>
                <div flex="66">
                    <md-input-container class="md-block radio">
                        <md-radio-group ng-model="vm.domain.protocol">
                            <md-radio-button value="http" class="md-primary">http</md-radio-button>
                            <md-radio-button value="https" class="md-primary">https </md-radio-button>
                        </md-radio-group>
                    </md-input-container>
                </div>
            </div>

            <div layout="row" layout-wrap>
                <div flex="30" class="label-text">
                    <label>是否开启 WAF</label>
                </div>
                <div flex="66">
                    <md-input-container class="md-block radio">
                        <md-switch ng-model="vm.domain.waf" aria-label="waf" ng-true-value="'enabled'" ng-false-value="'disabled'" class="md-warn">
                             {{ vm.domain.waf=='enabled' ? '开启':'关闭' }}
                        </md-switch>
                    </md-input-container>
                </div>
            </div>
            <div layout="row" layout-wrap>
                <div flex="30" class="label-text">
                    <label>后端 IP 列表</label>
                </div>
                <div flex="66">
                    <md-input-container class="md-block radio">
                        <textarea ng-model="vm.domain.ip" aria-label="ip">

                        </textarea>
                    </md-input-container>
                </div>
            </div>

            <md-dialog-actions layout="row">
                <span flex></span>
                <md-button class="md-primary" type="submit">
                    保 存
                </md-button>
                <md-button class="md-default" ng-click="vm.cancel()">
                    取 消
                </md-button>
            </md-dialog-actions>
        </form>
    </md-content>
</div>