
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1476669996'); /* IE9*/
  src: url('iconfont.eot?t=1476669996#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1476669996') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1476669996') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1476669996#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-refresh:before { content: "\e609"; }
.icon-delete:before { content: "\e600"; }
.icon-edit:before { content: "\e601"; }
.icon-add:before { content: "\e602"; }
.icon-ip:before { content: "\e603"; }
.icon-xingzhuang22:before { content: "\e604"; }
.icon-pinpaishouquan:before { content: "\e60a"; }
.icon-quxiao:before { content: "\e611"; }
.icon-remove:before { content: "\e605"; }
.icon-save-copy:before { content: "\e612"; }
.icon-log:before { content: "\e60b"; }
.icon-search:before { content: "\e60f"; }
.icon-yonghu:before { content: "\e60c"; }
.icon-engine:before { content: "\e606"; }
.icon-delete2:before { content: "\e607"; }
.icon-dailishangtubiao:before { content: "\e60d"; }
.icon-anquan:before { content: "\e60e"; }
.icon-role:before { content: "\e608"; }
.icon-no:before { content: "\e610"; }
