.form{
  md-input-container {
    margin: 0;
    padding: 0;

    &.radio {
      padding-top: 6px;
    }

    .md-input {
      width: 80%;
      &[type='number'] {
        width: 70px;
        margin-top: 0;
        height: 22px;
        line-height: 18px;
      }
    }
    .md-input-messages-animation {
      display: inline-block;
    }

  }
}
