@import "reset-meterial";
@import "table";
@import "form";

.menu-section {
  position: fixed;
  min-width: 1200px;

  .md-toolbar-tools {
    background: $mainColor;
    max-height: 64px;
    height: 64px;
  }

  .logo {
    height: 50px;
    margin: 6px 200px 0 16px;
  }

  .menu-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0;
      float: left;
    }

    .main-nav-button {
      line-height: 56px;
      display: inline-block;
      color: #d5d9e1 !important;
      text-decoration: none;
      padding: 0 16px;
      text-transform: uppercase;
      font-family: Microsoft YaHei, Hiragino Sans GB, Segoe UI, HelveticaNeue-Light, sans-serif;
      font-size: 16px;
      border: none;
      background: none;
      border-radius: 0;
      position: relative;
      margin: 0;

      &.md-default-theme:not([disabled]):hover,
      &.md-button:not([disabled]):hover {
        background-color: #0c4180;
      }

      &.active {
        background-color: #0c4180;
        color: #fff;

        &:after {
          content: "";
          height: 2px;
          background: #fff;
          width: 100%;
          position: absolute;
          left: 0;
          bottom: 0;
        }
      }

    }
  }

}

.side-nav {
  background: #fff;
  width: 200px;
  bottom: 0;
  overflow: auto;
  position: fixed;
  top: 56px;
  left: 0;

  ul {
    padding-left: 0;
    margin-top: 0;

    & > {
      li {
        list-style-type: none;

        &.sub-menu {

          &.toggled {
            & > {

              a:after {
                transform: rotate(90deg);
              }
            }
          }

          & > {
            a {
              &:after {
                position: absolute;
                right: 15px;
                top: 0;
                color: $leftSide;
                font-family: 'FontAwesome';
                content: "\f105";
                font-size: 17px;
                transition: all;
                transition-duration: 300ms;
                backface-visibility: hidden;
              }
            }
          }

          & > {
            ul > li > {
              a {
                color: $leftSide;
                margin: 0;
                font-weight: 500;
                display: block;
              }
            }
          }

        }

        &.active {
          .third-nav {
            display: block;
          }
        }

        a {
          line-height: 47px;
          padding: 0 16px 0 58px;
          color: $leftSide;
          text-align: left;
          font-weight: 400;
          position: relative;
          text-decoration: none;
          display: block;
          text-transform: uppercase;
          margin: 0 0 10px 0;

        }
      }
    }

  }

  .iconfont {
    position: absolute;
    top: 0;
    left: 30px;
    z-index: 1;
    font-size: 22px;
    color: $leftSide;
    line-height: 48px;

  }

  .third-nav {
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    display: none;

    a:hover {
      background: rgba(158, 158, 158, 0.2);
    }

    @include li-active();
  }
}

.side-nav-primary {
  @include li-active();
  & > li.active > a {
    background: #e1eeff;
  }
}

.btn-operator {
  border: 1px solid;
  padding: 2px 8px;
  border-radius: 2px;
  font-size: 14px;
  margin: 10px;
  line-height: 20px;
  cursor: pointer;
  text-decoration: inherit;
  transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);

  &.btn-lg {
    padding: 5px 14px;
    display: inline-block;
  }

  &:hover {
    background: $mainColor;
    color: #fff !important;
  }
}


.login-user{
  color: #fff;
  font-size: 14px;
}
.logout{
   margin-left: 8px;
   .iconfont{
     font-size: 22px;
   }
}